@import "system-font.css";
@import url("normalize.css/normalize.css");

body {
    position: relative;
    height: 98.5vh;
    font-family: var(--main-font);
    overflow-y: hidden;
}

#root {
    border: 3px solid black;
    border-radius: 5px;
    height: 100%;
    color: var(--main-font-color);
    background-color: var(--main-background-color);
}
