.wrapper {
  padding: 6px 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-top: var(--main-border);
  height: 100%;
  position: relative;
  overflow-y: hidden;
}

.resultsList {
  width: 100%;
  min-width: 250px;
  height: 100%;
}

.preview {
  flex-grow: 2;
  padding: 10px 10px 20px 10px;
  background-color: var(--main-background-color);
  align-items: center;
  display: flex;
  max-height: 100%;
  overflow-y: scroll;
}

.preview::before,
.preview::after {
  content: '';
  margin: auto;
}

.preview:empty {
  display: none;
}
